<div class="container">
    <div style="text-align: left;">
      <a href="tel:+1-956-607-6047"> (956)607-6047</a><br/>
      <a href="https://goo.gl/maps/v2TucsdmAw22">200 N La Homa Rd, Palmview TX</a><br/>
      <div class="fb-like"
        data-href="https://www.facebook.com/Petalos-y-Arte-Flower-Shop-362503580513879/" data-width="300"
        data-layout="standard" data-action="like" data-size="large" data-show-faces="false" data-share="true">
      </div>
    </div>
    <div class="text-muted row" style="padding-top: 3px;">
      <div class="col"></div>
      <div class="col text-center">
        Designed and built by <a href="https://www.alex-rios.me">Alejandro Rios</a>
      </div>
      <div class="col text-right">Version 19.4.28</div>
    </div>
  </div>