<div class="container mb-3">
    <nav class="navbar navbar-expand-sm navbar-light">
       <a class="navbar-brand" href="#"></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
           <div class="navbar-nav" style="width: 100%;">
               <a class="nav-item nav-link headerLink" routerLink="/" data-toggle="collapse">
                   <h5 class="headerLinkText">Home</h5>
               </a>
               <a class="nav-item nav-link headerLink" routerLink="/contact" data-toggle="collapse">
                   <h5 class="headerLinkText">Contact Us</h5>
               </a>
               <a class="nav-item nav-link headerLink" routerLink="/cart" data-toggle="collapse">
                   <h5 class="headerLinkText">Cart</h5>
               </a>
           </div>
       </div>
   </nav>
</div>