<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-0 text-center headerText removeOnMobile">
            <span>
                Locally owned flower shop in Palmview, TX
            </span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center"
            style="font-family: sacramento; font-size:60px;">
            Pétalos y Arte
        </div>
        <div class="col-lg-3 col-md-3 col-sm-0 text-center headerText">
            <span class="showOnMobile">
                Locally owned flower shop in Palmview,TX providing same day flower delivery for the valley
            </span>
            <span class="removeOnMobile">
                Providing same day flower delivery for the valley
            </span>
        </div>

    </div>
</div>